.li1-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.li1-box-item1{

  overflow: hidden;
  flex: 0 0 100%; /* 调整为48%以适应两列布局 */
  height: 1300px;
  position: relative;
  margin-bottom: 40px;
  display: block; /* 使<a>标签占据整个区域 */
  text-decoration: none; /* 去掉链接的下划线 */
  color: inherit; /* 继承文字颜色 */
}
.li1-box-item:hover img{
  transform: scale(1);
}
.li1-box-item:hover .boxitem-title{
  bottom:0px;
  opacity: 1;
  transform: scale(1.2);
}
.li1-box-item>img{
  height: 100%;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}
.li1-box-item .boxitem-title1{
  position: absolute;
  bottom:-75px;
  left:0px;
  right: 0px;
  height: 75px;
  text-align: center;
  background-color: var(--headerhover);
  color: var(--headerFont);
  transition: all .3s ease-in-out;
  transform: scale(1);
  font-size: 12px;
}
.boxitem-title h6{
  font-size: 12px;
  margin: 15px 0 8px;
}

.item-description {
  flex: 0 0 100%; /* 简介占据整行 */
  width: 100%; /* 确保宽度为100% */
  padding: 10px; /* 添加内边距 */
  margin-top: 20px; /* 添加顶部外边距 */
  background-color: var(--headerhover); /* 设置背景颜色 */
  border: 1px solid var(--headerhover); /* 设置边框 */
  border-radius: 5px; /* 设置圆角 */
}

/* 手机 */
@media screen and (max-width: 550px) {
  .li1-box-item,
  .item-description {
    flex: 0 0 100%; /* 在小屏幕上宽度自适应 */
    width: 100%; /* 确保宽度为100% */
  }
}
/* 模态框基础样式 */
.modal {
  display: none; /* 默认不显示 */
  position: fixed; /* 固定定位 */
  z-index: 1; /* 层级最高 */
  left: 0;
  top: 0;
  width: 100%; /* 全宽 */
  height: 100%; /* 全高 */
  overflow: auto; /* 允许滚动条 */
  background-color: rgb(0,0,0); /* 背景颜色 */
  background-color: rgba(0,0,0,0.9); /* 背景颜色，带透明度 */
}

